[submodule "submodules/PulseSky-ingestion-nifi"]
    path = submodules/PulseSky-ingestion-nifi
    url = https://github.com/grioool/PulseSky-ingestion-nifi
[submodule "submodules/PulseSky-kafka-cluster"]
    path = submodules/PulseSky-kafka-cluster
    url = https://github.com/grioool/PulseSky-kafka-cluster
[submodule "submodules/PulseSky-spark-streaming"]
    path = submodules/PulseSky-spark-streaming
    url = https://github.com/grioool/PulseSky-spark-streaming
[submodule "submodules/PulseSky-batch-ml"]
    path = submodules/PulseSky-batch-ml
    url = https://github.com/grioool/PulseSky-batch-ml
[submodule "submodules/PulseSky-opensearch-dashboards"]
    path = submodules/PulseSky-opensearch-dashboards
    url = https://github.com/grioool/PulseSky-opensearch-dashboards
[submodule "submodules/PulseSky-superset-visuals"]
    path = submodules/PulseSky-superset-visuals
    url = https://github.com/grioool/PulseSky-superset-visuals
